aside
xcshareddata
*.xcshareddata
*.xcuserstate
*.xcuserdatad
*.xcbkptlist
*.DS_Store
Zones/iOS/frameworks/SnapKit.framework
Zones/iFocus/Frameworks/HockeySDK.framework/HockeySDK
Zones/iFocus/HockeySDK-iOS/HockeySDK.embeddedframework/HockeySDK.framework/HockeySDK
Apple ID Test.zip
/Carthage/Checkouts/SnapKit/Zones/Frameworks/SnapKit.framework
/Zones.xcworkspace/xcuserdata/jonathansand.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
/Internet downloads
/.build
build
/Zones.xcworkspace/contents.xcworkspacedata
/Perfect-SQLite
/Zones/Frameworks
/Zones/liblibPG.dylib
/Zones/Zones.xcodeproj/xcuserdata/sand.xcuserdatad/xcschemes/xcschememanagement.plist
/Apple ID Test/Apple ID Test.xcodeproj/xcuserdata/sand.xcuserdatad/xcschemes/xcschememanagement.plist
/Zones/build
/Zones/docs
/.gitfubar
/Zones.xcworkspace/xcuserdata/sand.xcuserdatad/IDEFindNavigatorScopes.plist
/Zones/Zones.xcodeproj/project.xcworkspace
/.swiftpm
ZParagraph.swift
/development
/Zones/sources/managers/files/ZFiles copy.swift
