
Zones.xcworkspace/xcuserdata/jonathansand.xcuserdatad/UserInterfaceState.xcuserstate

Zones.xcworkspace/xcuserdata/jonathansand.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

*.xcbkptlist
