<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>657178188527-j0o9uglfqv93n36aombaiie4hjecko96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657178188527-j0o9uglfqv93n36aombaiie4hjecko96</string>
	<key>API_KEY</key>
	<string>AIzaSyCazJ9b783dEc0-Xsk1h7To8TKzpJSBwWs</string>
	<key>GCM_SENDER_ID</key>
	<string>657178188527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withRegard.ios</string>
	<key>PROJECT_ID</key>
	<string>project-7747766478548520993</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7747766478548520993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:657178188527:ios:6308818e9dbf183d</string>
	<key>DATABASE_URL</key>
	<string>https://project-7747766478548520993.firebaseio.com</string>
</dict>
</plist>